{{outlet}}

<section id="loading">
    <div class="container">
        <div class="margin-top-80 col-xs-12">
            <div class="col-xs-12 col-md-6 margin-top-60 center-block">
                <h1 class="text-center center-block">
                    Loading...
                </h1>
            </div>
        </div>
    </div>
</section>